

.flexContainer:last-child {
  margin-top: 2em;
}

.flexContainer {
  border: 1px solid #DDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

div {
  height: 50px;
  width: 50px;
}

div:nth-child(1) {
  background-color: #F00;
  height: 80px;
  width: 80px;
}

div:nth-child(2) {
  background-color: #00F;
}

div:nth-child(3) {
  background-color: #0F0;
}

div:nth-child(4) {
  background-color: #FF0;
}

div:nth-child(5) {
  background-color: pink;
}

div:nth-child(6) {
  background-color: #000;
}

div:nth-child(7) {
  background-color: orange;
}

div:nth-child(8) {
  background-color: #CCC;
}

.flexItem {
  flex-grow: 1;
  flex-shrink: 1;
  /* flex-basis: 25%; width: 25% */
}

div:nth-child(3) {
  flex-grow: 2;
  flex-shrink: 2;
}
